/* Starting CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    background-color: #1F2937;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 25px;
}

header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header li {
    display: inline;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
}

a:hover {
    text-decoration: none;
    color: yellow;
}

li {
    display: flex;
    justify-content: space-between;
}

/* Section 1 */

.section1 {
    background-color: #1F2937;
    display: flex;
    padding-left: 350px;
}

.container1 {
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.container1 h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.container1 p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    text-align: center;
    font-weight: bold;
    width: 120px;
    height: 35px;
    font-size: 20px;
    color: white;
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    
}

.image1 {
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1image {
    width: 600px;
    height: 300px;
    border: solid 2px rgba(156, 155, 155, 0.527);
    background-color: rgba(156, 155, 155, 0.527);
}

/* Section 2 */

.section2 {
    background-color: whitesmoke;
    height: 550px;
}

.section2 h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding-top: 50px;
}

.boxContainer {
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-top: 80px;
    padding-left: 250px;
    padding-right: 250px;
}

.s2container1,.s2container2,.s2container3,.s2container4 {
    border: 3px solid #3882f6;
    width: 175px;
    height: 175px;
    border-radius: 25px;
}

.s2container1 p, .s2container2 p, .s2container3 p, .s2container4 p {
    text-align: center;
    padding-top: 180px;
}

/* Quote */

.divQuote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 200px;
}

.divQuote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    padding-left: 250px;
    padding-right: 250px;

}

.divQuote h3 {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
    padding-right: 270px;
}

/* Last Container */

.lastContainer {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signupContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1200px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
    padding-left: 50px;
}

.signupContainer h4 {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.signupContainer p {
    font-size: 24px;
    color: white;
}

.signupContainer button {
    border: 2px solid;
    margin-left: 800px;
}

/* Footer Section */

.fSection {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.fSection p {
    color: white;
}